:root {
  --fs-gtext: 5rem;
  --clr-normal-bg: rgb(104, 98, 98);
  --clr-hover-bg: rgb(15, 15, 15);
  --ff-gtext: sans-serif;
  --an-dur: 350ms;
}

body {
  text-align: center;
}

div {
  width: 100%;
  text-align: center;
}

.gradient-text {
  font-size: var(--fs-gtext);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: 600;
  font-family: var(--ff-gtext);
  background-image: linear-gradient(
    var(--clr-normal-bg) 0px,
    var(--clr-hover-bg) 0px
  );
  background-repeat: repeat;
  background-size: contain;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
  transition: transform var(--an-dur) linear;
  animation: gradanime-rev var(--an-dur) ease-out forwards;
}

.gradient-text:hover {
  animation: gradanime var(--an-dur) ease-in forwards;
  transform: scale(1.1);
}

@keyframes gradanime {
  0% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.8437 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  3% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.8237 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  7.14% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.8125 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  14.28% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.7812 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  21.42% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.75 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  28.56% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.71875 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  35.69% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.6875 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  42.83% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.65625 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  49.98% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.625 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  57.12% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.59375 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  64.25% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.5625 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  71.39% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.53125 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  78.53% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.5 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  85.67% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.46875 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  92.82% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.4375 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  95% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.4 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  98% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.3 + 0px),
      var(--clr-hover-bg) 0px
    );
  }

  100% {
    background-image: linear-gradient(
      var(--clr-normal-bg) 0px,
      var(--clr-hover-bg) 0px
    );
  }
}

@keyframes gradanime-rev {
  0% {
    background-image: linear-gradient(
      var(--clr-normal-bg) 0px,
      var(--clr-hover-bg) 0px
    );
  }
  7.14% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.4375 + 0px),
      var(--clr-hover-bg) 0px
    );
  }

  14.28% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.46875 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  21.42% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.5 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  28.56% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.53125 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  35.69% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.5625 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  42.83% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.59375 + 0px),
      var(--clr-hover-bg) 0px
    );
  }

  49.98% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.625 + 0px),
      var(--clr-hover-bg) 0px
    );
  }

  57.12% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.65625 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  64.25% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.6875 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  71.39% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.71875 + 0px),
      var(--clr-hover-bg) 0px
    );
  }
  78.53% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.75 + 0px),
      var(--clr-hover-bg) 0px
    );
  }

  85.67% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.7812 + 0px),
      var(--clr-hover-bg) 0px
    );
  }

  92.82% {
    background-image: linear-gradient(
      var(--clr-normal-bg) calc(var(--fs-gtext) * 0.8 + 0px),
      var(--clr-hover-bg) 0px
    );
  }

  100% {
    background-image: linear-gradient(
      var(--clr-normal-bg) 100%,
      var(--clr-hover-bg) 0px
    );
  }
}
